
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.budget-list-decapay-Do7 {
  width: 100%;
  height: 139.6rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.budget-list-decapay-Do7 .frame-8810-kY9 {
  box-sizing: border-box;
  padding: 4rem;
  width: 56.3rem;
  height: 108.8rem;
  position: absolute;
  left: 50.6rem;
  top: 13.4rem;
  border: solid 0.1rem #d6d6d6;
  background-color: #ffffff;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8809-GmP {
  margin: 0rem 19.7rem 2.4rem 0rem;
  width: calc(100% - 19.7rem);
  height: 4rem;
  display: flex;
  align-items: center;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8809-GmP .frame-8780-Q6u {
  margin-right: 11.2rem;
  box-sizing: border-box;
  padding: 0.8rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.0399999991);
  border-radius: 5rem;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8809-GmP .frame-8780-Q6u .back-arrow-94V {
  margin-right: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8809-GmP .frame-8780-Q6u .back-t25 {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8809-GmP .budget-list-Nxq {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8804-fS9 {
  margin: 0rem 1.3rem 2.3rem 0rem;
  width: calc(100% - 1.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8804-fS9 .most-recent-1F7 {
  margin-right: 26rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a5b1b7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8804-fS9 .showing-1-of-16-YVw {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a5b1b7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd {
  width: 100%;
  row-gap: 2.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.5rem 1.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.0399999991);
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj .frame-8799-x3s {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj .frame-8799-x3s .budget-1-monthly-hn9 {
  margin-right: 28rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj .frame-8799-x3s .option-qdT {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj .frame-8800-nHo {
  margin: 0rem 0.05rem 1.5rem 0.05rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj .frame-8800-nHo .budget-amount-WzV {
  margin-right: 27.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj .frame-8800-nHo .n5000-eqo {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj .frame-8801-nh7 {
  margin: 0rem 0.05rem 1.5rem 0.05rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj .frame-8801-nh7 .total-amount-spent-Kh3 {
  margin-right: 24.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj .frame-8801-nh7 .n8000-ezD {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj .frame-8802-zoB {
  margin: 0 0.15rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj .frame-8802-zoB .percentage-9RB {
  margin-right: 31.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8805-RZj .frame-8802-zoB .item-397-J3B {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #14a800;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.5rem 1.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.0399999991);
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw .frame-8799-8nu {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw .frame-8799-8nu .budget-1-monthly-tn5 {
  margin-right: 28rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw .frame-8799-8nu .option-EL9 {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw .frame-8800-BWH {
  margin: 0rem 0.05rem 1.5rem 0.05rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw .frame-8800-BWH .budget-amount-XKF {
  margin-right: 27.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw .frame-8800-BWH .n5000-Tyb {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw .frame-8801-DC5 {
  margin: 0rem 0.05rem 1.5rem 0.05rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw .frame-8801-DC5 .total-amount-spent-wNy {
  margin-right: 24.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw .frame-8801-DC5 .n8000-5k5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw .frame-8802-ck1 {
  margin: 0 0.15rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw .frame-8802-ck1 .percentage-mcu {
  margin-right: 31.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8806-Dfw .frame-8802-ck1 .item-397-io3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #14a800;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.5rem 1.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.0399999991);
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM .frame-8799-bM3 {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM .frame-8799-bM3 .budget-1-monthly-xSV {
  margin-right: 28rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM .frame-8799-bM3 .option-u6q {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM .frame-8800-e4R {
  margin: 0rem 0.05rem 1.5rem 0.05rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM .frame-8800-e4R .budget-amount-B4M {
  margin-right: 27.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM .frame-8800-e4R .n5000-7ih {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM .frame-8801-TnZ {
  margin: 0rem 0.05rem 1.5rem 0.05rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM .frame-8801-TnZ .total-amount-spent-o5j {
  margin-right: 24.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM .frame-8801-TnZ .n8000-8do {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM .frame-8802-UxZ {
  margin: 0 0.15rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM .frame-8802-UxZ .percentage-qYD {
  margin-right: 31.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8808-reM .frame-8802-UxZ .item-397-b1b {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #14a800;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.5rem 1.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.0399999991);
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf .frame-8799-ekZ {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf .frame-8799-ekZ .budget-1-monthly-otM {
  margin-right: 28rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf .frame-8799-ekZ .option-M9B {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf .frame-8800-ghF {
  margin: 0rem 0.05rem 1.5rem 0.05rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf .frame-8800-ghF .budget-amount-d6h {
  margin-right: 27.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf .frame-8800-ghF .n5000-Zm3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf .frame-8801-7Gm {
  margin: 0rem 0.05rem 1.5rem 0.05rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf .frame-8801-7Gm .total-amount-spent-SZw {
  margin-right: 24.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf .frame-8801-7Gm .n8000-BnR {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf .frame-8802-8Sm {
  margin: 0 0.15rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf .frame-8802-8Sm .percentage-tB3 {
  margin-right: 31.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8807-vZf .frame-8802-8Sm .item-397-d8d {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #14a800;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.5rem 1.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.0399999991);
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo .frame-8799-tqF {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo .frame-8799-tqF .budget-1-monthly-rXB {
  margin-right: 28rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo .frame-8799-tqF .option-CL9 {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo .frame-8800-Y97 {
  margin: 0rem 0.05rem 1.5rem 0.05rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo .frame-8800-Y97 .budget-amount-sx5 {
  margin-right: 27.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo .frame-8800-Y97 .n5000-DW9 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo .frame-8801-N89 {
  margin: 0rem 0.05rem 1.5rem 0.05rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo .frame-8801-N89 .total-amount-spent-WEM {
  margin-right: 24.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo .frame-8801-N89 .n8000-ebT {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo .frame-8802-Q4q {
  margin: 0 0.15rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo .frame-8802-Q4q .percentage-A41 {
  margin-right: 31.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8810-kY9 .frame-8805-79j .frame-8806-HCd .frame-8803-xRo .frame-8802-Q4q .item-397-hpd {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #14a800;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP {
  width: 49rem;
  height: 4rem;
  position: absolute;
  left: 57rem;
  top: 128.4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: solid 0.1rem #cfd4dc;
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.0500000007);
  border-radius: 0.8rem;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-7NZ {
  box-sizing: border-box;
  padding: 1rem 1.6rem 1rem 2.017rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #cfd4dc;
  background-color: #ffffff;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-7NZ .arrow-left-Ei5 {
  margin: 0rem 1.217rem 0rem 0rem;
  width: 1.1667rem;
  height: 1.1667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-7NZ .text-mT7 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #1d2838;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-sW9 {
  width: 4rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #1d2838;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cfd4dc;
  box-sizing: border-box;
  background-color: #f8f9fb;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-MgD {
  width: 4rem;
  height: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #344053;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cfd4dc;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-4Kj {
  width: 4rem;
  height: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #344053;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cfd4dc;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-Mpd {
  width: 4rem;
  height: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #344053;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cfd4dc;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-TMs {
  width: 4rem;
  height: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #344053;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cfd4dc;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-xpR {
  width: 4rem;
  height: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #344053;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cfd4dc;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-U25 {
  width: 4rem;
  height: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #344053;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cfd4dc;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-xhw {
  box-sizing: border-box;
  padding: 1rem 2.017rem 1rem 1.6rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #cfd4dc;
  background-color: #ffffff;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-xhw .text-Vhs {
  margin-right: 1.2167rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #1d2838;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .pagination-button-group-CmP .pagination-button-group-base-xhw .arrow-right-SND {
  margin-bottom: 0rem;
  width: 1.1667rem;
  height: 1.1667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8746-6hf {
  box-sizing: border-box;
  padding: 2rem 9.5rem 2.1rem 6rem;
  width: 144rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: solid 0.1rem rgba(0, 0, 0, 0.1599999964);
}
.budget-list-decapay-Do7 .frame-8746-6hf .frame-15-cg1 {
  margin-right: 97.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8746-6hf .frame-15-cg1 .cardpayment-ZbF {
  margin-right: 0.8rem;
  width: 5.3rem;
  height: 5.3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 8rem;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8746-6hf .frame-15-cg1 .decapay-6bB {
  margin-top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8746-6hf .frame-8747-q2y {
  margin: 0.6rem 0rem 0.5rem 0rem;
  height: calc(100% - 1.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8746-6hf .frame-8747-q2y .ellipse-8-xtH {
  margin-right: 0.8rem;
  width: 4.2rem;
  height: 4.2rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url('../assets/ellipse-8-bg-oTP.png'); */
  border-radius: 2.1rem;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8746-6hf .frame-8747-q2y .ugochukwu-Urd {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8745-bRT {
  box-sizing: border-box;
  padding: 5.35rem 1.6rem 105rem 1.6rem;
  width: 28.1rem;
  height: 130.2rem;
  position: absolute;
  left: 0;
  top: 9.4rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
}
.budget-list-decapay-Do7 .frame-8745-bRT .frame-8787-EUR {
  margin: 0rem 9.4rem 3.15rem 3rem;
  width: calc(100% - 12.4rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8745-bRT .frame-8787-EUR .vector-w7w {
  margin-right: 2.4rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8745-bRT .frame-8787-EUR .dashboard-qUD {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8745-bRT .frame-8786-xoj {
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  padding: 0.96rem 12.1rem 0.96rem 2.63rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #14a800;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8745-bRT .frame-8786-xoj .budget-69F {
  margin-right: 2.6346rem;
  width: 1.9356rem;
  height: 2.28rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8745-bRT .frame-8786-xoj .budget-brh {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8745-bRT .frame-8750-7KF {
  margin: 0rem 4.7rem 3.2rem 2.4rem;
  box-sizing: border-box;
  padding-left: 0.2517rem;
  width: calc(100% - 7.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8745-bRT .frame-8750-7KF .check-box-S6d {
  margin-right: 2.6517rem;
  width: 1.8967rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8745-bRT .frame-8750-7KF .budget-category-m8u {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8745-bRT .frame-8751-gmf {
  margin: 0rem 12.4rem 0rem 2.4rem;
  box-sizing: border-box;
  padding: 0.25rem 0rem 0.15rem 0.375rem;
  width: calc(100% - 14.8rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8745-bRT .frame-8751-gmf .logout-b7w {
  margin: 0rem 2.775rem 0.1rem 0rem;
  width: 1.65rem;
  height: 1.65rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.budget-list-decapay-Do7 .frame-8745-bRT .frame-8751-gmf .logout-iCZ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #21334f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
